<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Food Entry</title>
</head>

<body>
    <h1>Add Food Entry</h1>

  <form method="POST"> 
        <%- include('food-entry-form', { 
            foodEntry: {}, 
            meals: meals 
        }) %> 
        <input type="submit" value="Create Food Entry" /> 
    </form> 

</body>

</html>